---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Tag from "@components/Tag.astro";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
  trailingTag?: string
}

const { pageTitle, pageDesc, trailingTag } = Astro.props;
---

<Breadcrumbs />
<main id="main-content">
  <h1>{pageTitle}</h1>
  <p>
    {pageDesc}
    {trailingTag && <Tag name={trailingTag} />}
  </p>
  <slot />
</main>

<style>
  @reference "../styles/base.css";
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>
